<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>

    </script>
    <title>Note Taking App</title>
</head>
<body>
    <div class="grid-container">
        <header class="grid-item header">
            <a href="#" class="logo"><span>N</span>o<span>T</span>o</a>
    
            <!-- nav bar -->
            <nav class="navbar">
            <!-- <a href="#" id="add-note">New Note</a> -->
            <a href="/contact-us">Contact Us</a>
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
    
            <div id="menu-bar" class="fas fa-bars"></div>
            </nav>
            <!-- Nav Bar ended -->
        </header>
        <!-- header Section -->

            <!-- side tab -->
        <div class="body-container">
            <div class="grid-item side-bar" id="side-note">
                <div id="note-head">All Notes Here</div>
                <div class="note">
                    <div class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptas blanditiis, laborum, placeat dolorem dicta veritatis eligendi adipisci maxime consectetur ratione quisquam deserunt at voluptatum! Ex asperiores numquam cumque enim.</div>
                    <img src="/img/del.png" alt="">
                </div>
                <div class="note">
                    <div class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptas blanditiis, laborum, placeat dolorem dicta veritatis eligendi adipisci maxime consectetur ratione quisquam deserunt at voluptatum! Ex asperiores numquam cumque enim.</div>
                    <img src="/img/del.png" alt="">
                </div>
                <div class="note">
                    <div class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptas blanditiis, laborum, placeat dolorem dicta veritatis eligendi adipisci maxime consectetur ratione quisquam deserunt at voluptatum! Ex asperiores numquam cumque enim.</div>
                    <img src="/img/del.png" alt="">
                </div>
                <div class="note">
                    <div class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptas blanditiis, laborum, placeat dolorem dicta veritatis eligendi adipisci maxime consectetur ratione quisquam deserunt at voluptatum! Ex asperiores numquam cumque enim.</div>
                    <img src="/img/del.png" alt="">
                </div>
                <div class="note">
                    <div class="name">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum voluptas blanditiis, laborum, placeat dolorem dicta veritatis eligendi adipisci maxime consectetur ratione quisquam deserunt at voluptatum! Ex asperiores numquam cumque enim.</div>
                    <img src="/img/del.png" alt="">
                </div>
                <!-- <div id="no-notes">No Notes available</div> -->
            </div>
            <div class="grid-item main" id="mainN">
                    <!-- <div class="tabs"><img src="/img/notes.png" alt=""></div> 
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>
                    <div class="tabs"><img src="/img/notes.png" alt=""></div> 
                    <div class="tabs"><img src="/img/notes.png" alt=""></div>  -->
                    <!-- <div id="no-notes">No Notes available</div> -->
            </div>

            <!-- <div class="grid-item cal">
                <div id='calendar'></div>
                <div id="cal-input">
                    <form action="/calData.js">
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  
                      <label for="country">Country</label>
                      <select id="country" name="country">
                        <option value="australia">Australia</option>
                        <option value="canada">Canada</option>
                        <option value="usa">USA</option>
                      </select>
                    
                      <input type="submit" value="Submit">
                    </form>
                </div>
                
            </div> -->
        
        </div>
    </div>
  
    <script src="js/index.js"></script>
</body>
</html>

